RASHUB_DEV_BIND_ADDRESS=127.0.0.1
RASHUB_DEV_PORT=5076
RASHUB_DEV_TRUSTED_PROXY=127.0.0.1
RASHUB_DEV_BOOTSTRAP_ADMIN_EMAIL=admin@example.test
RASHUB_DEV_BOOTSTRAP_ADMIN_PASSWORD=rashub-admin

SEQ_DEV_BIND_ADDRESS=127.0.0.1
SEQ_DEV_PORT=5341
SEQ_DEV_PUBLIC_URL=http://localhost:5341
SEQ_DEV_ADMIN_USERNAME=admin
SEQ_DEV_ADMIN_PASSWORD=rashub

RASHUB_DEV_DB=rashub_dev
RASHUB_DEV_DB_USER=rashub
RASHUB_DEV_DB_PASSWORD=rashub
RASHUB_DEV_DB_PORT=5432
