RASHUB_DEV_BIND_ADDRESS=192.168.253.48
RASHUB_DEV_PORT=5076
RASHUB_DEV_TRUSTED_PROXY=192.168.253.38

SEQ_DEV_BIND_ADDRESS=192.168.253.48
SEQ_DEV_PORT=5341
SEQ_DEV_PUBLIC_URL=http://192.168.253.48:5341
SEQ_DEV_ADMIN_USERNAME=admin
SEQ_DEV_ADMIN_PASSWORD=replace-with-a-long-random-seq-password

RASHUB_DEV_DB=rashub_dev
RASHUB_DEV_DB_USER=rashub
RASHUB_DEV_DB_PASSWORD=replace-with-a-long-random-database-password
RASHUB_DEV_DB_PORT=5432
