RASHUB_DEV_BIND_ADDRESS=192.168.253.48
RASHUB_DEV_PORT=5076
RASHUB_DEV_TRUSTED_PROXY=192.168.253.38

RASHUB_DEV_DB=rashub_dev
RASHUB_DEV_DB_USER=rashub
RASHUB_DEV_DB_PASSWORD=replace-with-a-long-random-database-password
RASHUB_DEV_DB_PORT=5432
